html, body {
  height: 100%;
  margin: 0;
  background-color: #d4c7c7;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 15px;
  font-size: 16px;
}

input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
}
